.PremiumProducts {
  /* height: 400px !important; */
  background-color: blue !important;
}
.PremiumProducts img {
  height: 200px;
}
.PremiumProducts .title {
  font-weight: bold;
}
.PremiumProducts .title:hover {
  /* background-color: rgb(0, 47, 52); */
  color: rgb(0, 47, 52);
}
.PremiumProducts .content {
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 15px;
}
.PremiumProducts .bottomContent {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
